@require '../../styles/mixins'
@require '../../styles/variables'

.full-width
  width: 100%
  overflow: hidden
.what
  center()
  max-width: 50vw
  height: 6rem
  position: relative
  @media $mobile-md
    max-width: 80vw
    height: 8em
  @media $tablet-portrait
    max-width: 90vw
.quote
  center()
  width: 100%
  height: 100%
  position: absolute;
  opacity: 1
  transform: translateZ(0)
  transform-origin: center center
  transform-style: preserve-3d
  transition: transform .35s $ease-pop, opacity .3s $ease-pop
  will-change: transform
  &-entered
    opacity: 1
  &-entering
    opacity: 0
    transform: scale(0.5) translate3d(0,100%,0)
  &-exiting, &-exited
    opacity: 0
    transform: scale(0.5) translate3d(0,100%,0)
  // &-exited
  //   display: none
  //   // transform:  translate3d(-200%,0,0)