@import "../styles/variables";
@import "../styles/mixins";

.container {
  margin: 0 auto;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    background: rgba($bg, 0);
    transition: background 0.075s ease-in-out;
  }

  main:not(:global(.full)) &:before {
    background: rgba($bg, 0.6);
  }
}
