@font-face
  font-family 'worg'
  src url(../styles/fonts/aileron-thin.woff2) format('woff2'),
      url(../styles/fonts/aileron-thin.woff) format('woff'),
      url(../styles/fonts/aileron-thin.svg) format('svg')
  font-weight 100
  font-style normal

@font-face
  font-family 'worg'
  src url(../styles/fonts/aileron-light.woff2) format('woff2'),
      url(../styles/fonts/aileron-light.woff) format('woff'),
      url(../styles/fonts/aileron-light.svg) format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'worg'
  src url(../styles/fonts/aileron-semibold.woff2) format('woff2'),
      url(../styles/fonts/aileron-semibold.woff) format('woff'),
      url(../styles/fonts/aileron-semibold.svg) format('svg')
  font-weight 700
  font-style normal